<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Some Website</title>
	</head>
	<body>
		{{> header}}
		    <div class="container">
                <div class="row">
                        <p>Welcome Back {{user.firstName}}</p>
                </div>
            </div>

{{> footer}}
	</body>
</html>